<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gy.love.loveapi.mapper.LoveActivityMapper" >
  <resultMap id="BaseResultMap" type="com.gy.love.loveapi.entity.LoveActivity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
    <result column="is_noticed" property="isNoticed" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, content, date, is_noticed
  </sql>
  <sql id="Activity_Base_Column_List" >
    a.id, a.title, a.content, a.date, a.is_noticed
  </sql>
  <select id="findByDate" parameterType="map" resultType="LoveActivity">
    select <include refid="Activity_Base_Column_List"></include>
    from love_activity a , love_user_activity ua
    where date like concat(#{date},'%') and a.id=ua.activity_id and ua.user_id in
    <foreach collection="users" item="user" index="index" open="(" close=")" separator=",">
        #{user.id}
    </foreach>
  </select>
  <select id="findAllByPage" parameterType="map" resultType="LoveActivity">
    select <include refid="Activity_Base_Column_List"></include>
    from love_activity a,love_user_activity ua
    where a.${page.column} like concat('%',#{page.keyword},'%') and a.id=ua.activity_id and ua.user_id in
    <foreach collection="users" item="user" index="index" open="(" close=")" separator=",">
      #{user.id}
    </foreach>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from love_activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from love_activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gy.love.loveapi.entity.LoveActivity" >
    insert into love_activity (id, title, content, 
      date, is_noticed)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{date,jdbcType=TIMESTAMP}, #{isNoticed,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.gy.love.loveapi.entity.LoveActivity" useGeneratedKeys="true" keyProperty="id">
    insert into love_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="isNoticed != null" >
        is_noticed,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="isNoticed != null" >
        #{isNoticed,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gy.love.loveapi.entity.LoveActivity" >
    update love_activity
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="isNoticed != null" >
        is_noticed = #{isNoticed,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gy.love.loveapi.entity.LoveActivity" >
    update love_activity
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      is_noticed = #{isNoticed,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>