<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gy.love.loveapi.mapper.LoveUserLookCourseMapper" >
  <resultMap id="BaseResultMap" type="com.gy.love.loveapi.entity.LoveUserLookCourse" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="crouse_id" property="crouseId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, crouse_id
  </sql>
  <select id="findAllByCourseId" parameterType="String" resultType="com.gy.love.loveapi.entity.LoveUserLookCourse">
    select <include refid="Base_Column_List"></include>
    from love_user_look_course
    where crouse_id = #{courseId}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from love_user_look_course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from love_user_look_course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gy.love.loveapi.entity.LoveUserLookCourse" >
    insert into love_user_look_course (id, user_id, crouse_id
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{crouseId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gy.love.loveapi.entity.LoveUserLookCourse" >
    insert into love_user_look_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="crouseId != null" >
        crouse_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="crouseId != null" >
        #{crouseId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gy.love.loveapi.entity.LoveUserLookCourse" >
    update love_user_look_course
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="crouseId != null" >
        crouse_id = #{crouseId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gy.love.loveapi.entity.LoveUserLookCourse" >
    update love_user_look_course
    set user_id = #{userId,jdbcType=INTEGER},
      crouse_id = #{crouseId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>